@charset "UTF-8";

.jsu-table-overflow-x {overflow-x:hidden;}

.jsu-table-bounds, .jsu-table-bounds * {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.jsu-table-bounds {position:relative; border:1px solid #EBEEF5;}
.jsu-table-bounds .jsu-table {word-wrap:break-word; word-break:break-all;}
.jsu-table-bounds .jsu-table-hide_impl {display:none;}
.jsu-table-bounds.jsu-column-width-editing {cursor:col-resize; user-select:none;}


.jsu-table-bounds .jsu-column-modifier {position:absolute; top:0; left:0; width:3px; cursor:col-resize; background-color:#EBEEF5; z-index:999; opacity:0.1;}
.jsu-table-bounds .jsu-column-modifier:hover {opacity:1;}
.jsu-table-bounds .jsu-column-modifier.jsu-trigger-action {border:0; border-left:1px dashed #AAA; opacity:1;}
.jsu-table-bounds .jsu-column-modifier:last-child {display:none;}
.jsu-table-bounds > .jsu-fixed-header-container {position:absolute; top:0; left:0; width:100%; padding-bottom:5px;}
.jsu-table-bounds > .jsu-fixed-header-container > .jsu-table {width:100%;}


.jsu-table-bounds .jsu-table-header-cell,
.jsu-table-bounds .jsu-table-cell {padding:15px 12px; border:1px solid #EBEEF5;}
.jsu-table-bounds .jsu-table-header-cell {color:#909399; font-weight:500;}
.jsu-table-bounds .jsu-table-cell {font-size:14px; color:#606266;}


.jsu-table-bounds .jsu-table {border-collapse:collapse; border-spacing:0; width:100%;}
.jsu-table-bounds .jsu-table > .jsu-table-header {}
.jsu-table-bounds .jsu-table > .jsu-table-header > .jsu-table-header-row {}
.jsu-table-bounds .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell {background-color:#FFF; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; /*min-width:100px;*/}
.jsu-table-bounds .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell.jsu-swapper-action {background-color:#EBEEF5!important;}


.jsu-table-bounds .jsu-table > .jsu-table-body {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row {background:#FFF; -webkit-transition:background-color .3s; -moz-transition:background-color .3s; -ms-transition:background-color .3s; -o-transition:background-color .3s; transition:background-color .3s;}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row.jsu-table-row-hover,
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row:hover {background:#F5F5F5;}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-selection {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-selection-radio {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-selection-checkbox {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-expander {padding:5px 10px; cursor:pointer; -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); -webkit-transition:transform .2s; -moz-transition:transform .2s; -ms-transition:transform .2s; -o-transition:transform .2s; transition:transform .2s;}


.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-expander.jsu-expander-opened {-webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg);}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-expander.jsu-expander-opened:before {}


.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-writable {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-row > .jsu-table-cell > .jsu-writable > .jsu-writable {}


.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-expand-container-row {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-expand-container-row > .jsu-expand-container {}


.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-empty-row {}
.jsu-table-bounds .jsu-table > .jsu-table-body > .jsu-table-empty-row > .jsu-table-empty-td {color:#999;}


.jsu-table-bounds.jsu-table-use-fixed-header > .jsu-table-main-container {overflow-x:auto; max-height:100%; position:relative;}
.jsu-table-bounds .jsu-fixed-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell,
.jsu-table-bounds .jsu-fixed-left-top-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell {background:#FFF; -webkit-transition:box-shadow .3s; -moz-transition:box-shadow .3s; -ms-transition:box-shadow .3s; -o-transition:box-shadow .3s; transition:box-shadow .3s;}
.jsu-table-bounds.jsu-table-scrolling-down > .jsu-fixed-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell,
.jsu-table-bounds.jsu-table-scrolling-down > .jsu-fixed-left-top-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell,
.jsu-table-bounds.jsu-table-scrolling-down > .jsu-fixed-right-top-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell {box-shadow:2px 3px 5px 0 rgba(0,0,0,.1);}
.jsu-table-bounds .jsu-fixed-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell:nth-last-child(2) {border-right:0;}


.jsu-table-bounds > .jsu-fixed-left-header-container > .jsu-table {-webkit-transition:box-shadow .3s; -moz-transition:box-shadow .3s; -ms-transition:box-shadow .3s; -o-transition:box-shadow .3s; transition:box-shadow .3s;}
.jsu-table-bounds.jsu-table-scrolling-right > .jsu-fixed-left-header-container > .jsu-table {box-shadow:1px 0 4px 0 rgba(0,0,0,.1);}
.jsu-table-bounds > .jsu-fixed-right-header-container > .jsu-table {box-shadow:-1px 0 4px 0 rgba(0,0,0,.1);}
.jsu-table-bounds.jsu-table-scroll-to-right > .jsu-fixed-right-header-container > .jsu-table {box-shadow:none;}


.jsu-table-bounds.jsu-table-scrolling-vertical .jsu-fixed-header-container > .jsu-table > .jsu-table-header > .jsu-table-header-row > .jsu-table-header-cell:nth-last-child(2) {border-right:1px solid #EBEEF5;}
.jsu-table-bounds.jsu-table-scrolling-horizontal .jsu-fixed-right-top-header-container {margin-right:17px;}


.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-left-top-header-container {position:absolute; left:0; top:0;}
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-right-top-header-container {position:absolute; right:0; top:0;}

.jsu-table-bounds.jsu-table-use-fixed-left-header > .jsu-table-main-container > .jsu-table {max-width:inherit; min-width:100%;/* table-layout:fixed;*/}
.jsu-table-bounds.jsu-table-use-fixed-left-header > .jsu-table-main-container > .jsu-table >.jsu-table-body >.jsu-table-row >.jsu-table-cell{white-space:nowrap; text-overflow:ellipsis;}
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-left-header-container {position:absolute; left:0; top:0; overflow:auto; padding-right:5px;}
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-right-header-container {position:absolute; right:0; top:0; overflow:auto; padding-left:5px;}


/*hide scroll bar*/
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-left-header-container::-webkit-scrollbar,
.jsu-table-bounds.jsu-table-use-fixed-right-header .jsu-fixed-left-header-container::-webkit-scrollbar{width:0!important;}
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-left-header-container,
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-fixed-right-header-container{-ms-overflow-style:none; overflow:-moz-scrollbars-none;}

.jsu-table-bounds.jsu-fixed-header-container .jsu-table-header-cell,
.jsu-table-bounds.jsu-table-use-fixed-header .jsu-table-header-cell,
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-table-header-cell,
.jsu-table-bounds.jsu-table-use-fixed-right-header .jsu-table-header-cell,
.jsu-table-bounds.jsu-fixed-header-container .jsu-column-modifier,
.jsu-table-bounds.jsu-table-use-fixed-header .jsu-column-modifier,
.jsu-table-bounds.jsu-table-use-fixed-left-header .jsu-column-modifier,
.jsu-table-bounds.jsu-table-use-fixed-right-header .jsu-column-modifier {pointer-events:none;}